<div class="g-section footlink">
    <div class="g-section-content footlink-content">
        <div class="title">友情链接</div>
        <ul class="footlink-ul">
            <li><a href="https://www.hitsz.edu.cn/index.html" target="_blank">哈工大(深圳)官网</a></li>
            <li><a href="https://www.hit.edu.cn" target="_blank">哈工大官网</a></li>
            <li><a href="https://www.pcl.ac.cn" target="_blank">鹏城实验室</a></li>
            <li><a href="http://carc.hitsz.edu.cn/index.htm" target="_blank">网络空间安全研究中心</a></li>
            <li><a href="http://cs.hitsz.edu.cn" target="_blank">计算机科学与技术学院</a></li>
        </ul>
        <div class="divider"></div>
        <div class="fl">
            <div class="title">联系我们</div>
            <div class="sub-title">地址：广东省深圳市南山区西丽大学城哈尔滨工业大学深圳园区L栋信息楼</div>
            <div class="sub-title">邮编：518000</div>
        </div>
        <div class="footlink-QRcode fr">
            <p>数据安全研究院公众号</p>
        </div>
    </div>
</div>

<div class="g-section footer">
    <p>©版权所有 2020-2023 数据安全研究院</p>
</div>

