<!-- Replace its valus with your own -->
<title>Official-Website-Framework</title>
<meta name="description" content="Easily and Quickly Deploy a Offcial-Website">
<meta name="keywords" content="office-website,jquery,template">
<link rel="shortcut icon" href="img/index/icon-logo-3e3cbb052e.png" />

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="css/g-common-012738f95e.css">
<script type="text/javascript" src="js/g-common-4e3e05e866.js"></script>
<script type="text/javascript" src="js/jquery-40363b1a01.min.js"></script>