<!-- Replace its valus with your own -->
<title>Official-Website-Framework</title>
<meta name="description" content="Easily and Quickly Deploy a Offcial-Website">
<meta name="keywords" content="office-website,jquery,template">
<link rel="shortcut icon" href="img/index/icon-logo.png" />

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="css/g-common.css">
<script type="text/javascript" src="js/g-common.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>