/** global css variables which may modify by yourself
    ========================================================================== */   

$g-main-color: #004EA3;
$g-bg-color: #fff;
$g-nav-bg-color: #004EA2;

$g-xxx-fontsize: 22px;
$g-xx-fontsize: 20px;
$g-x-fontsize: 18px;
$g-fontsize: 16px;
$g-s-fontsize: 14px;
$g-ss-fontsize: 12px;